@model ProfileViewModel
@{
    ViewData["Title"] = "Edit my profile - Casterisks";
}
<link href="~/lib/Trumbowyg-master/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<link href="~/lib/Trumbowyg-master/Trumbowyg-master/dist/plugins/emoji/ui/trumbowyg.emoji.min.css" rel="stylesheet" />


<h2 class="display-3" style="font-size: 30px; margin-top:30px; margin-bottom: 30px;">Edit my profile</h2>

<div class="container">
    <div class="row">
        <form asp-controller="Profile" asp-action="UpdateProfile" method="put" enctype="multipart/form-data">

            <div class="row">
                <div>
                    <label>Bio</label>
                    <textarea class="form-control" id="editor" asp-for="Bio"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label>First name</label>
                        <input class="form-control" type="text" asp-for="FirstName" />
                    </div>
                    <div>
                        <label>Last name</label>
                        <input class="form-control" type="text" asp-for="LastName" />
                    </div>

                    <div>
                        <label>Company</label>
                        <input class="form-control" type="text" asp-for="Company" />
                    </div>
                    <div>
                        <label>Industry</label>
                        <select class="custom-select" asp-for="Industry">
                            <option value=" ">Select Industry</option>
                            <option value="Aerospace">Aerospace</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Automotive">Automotive</option>
                            <option value="Banking and Capital Markets">Banking and Capital Markets</option>
                            <option value="Chemical/Agrochemical">Chemical/Agrochemical</option>
                            <option value="Computer">Computer</option>
                            <option value="Construction">Construction</option>
                            <option value="Consumer Goods">Consumer Goods</option>
                            <option value="Defense and Intelligence">Defense &amp; Intelligence</option>
                            <option value="Education">Education</option>
                            <option value="Energy">Energy</option>
                            <option value="Financial Services">Financial Services</option>
                            <option value="Food">Food</option>
                            <option value="Government">Government</option>
                            <option value="Health">Health</option>
                            <option value="Hospitality">Hospitality</option>
                            <option value="Information Technology" selected="selected">Information Technology</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Manufacturing">Manufacturing</option>
                            <option value="Media and Communications">Media and Communications</option>
                            <option value="Media and Entertainment">Media and Entertainment</option>
                            <option value="Mining">Mining</option>
                            <option value="Pharmaceutical">Pharmaceutical</option>
                            <option value="Retail">Retail</option>
                            <option value="Telecommunications">Telecommunications</option>
                            <option value="Transport">Transport</option>
                            <option value="Utilities">Utilities</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                    <div>
                        <label>Location</label>
                        <input class="form-control" asp-for="Location">
                    </div>
                    <div>
                        <label>Primary role</label>
                        <select class="custom-select" asp-for="PrimaryRole">
                            <option selected>Choose your role</option>
                            <option>Business Analyst</option>
                            <option>Business Manager</option>
                            <option>Consultant</option>
                            <option>Software Developer</option>
                            <option>Educator</option>
                            <option>End User</option>
                            <option>Executive</option>
                            <option>IT Manager</option>
                            <option>IT Professional</option>
                            <option>Solution Architect</option>
                            <option>Student</option>
                            <option>System Administrator</option>
                            <option>Systems Administrator</option>
                            <option>Systems Analyst</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div>
                        <label>Type</label>
                        <select class="custom-select" asp-for="Type">
                            <option selected>Select type</option>
                            <option>Academic User</option>
                            <option>Customer</option>
                            <option>ISV</option>
                            <option>Microsoft Employee</option>
                            <option>Microsoft Partner</option>
                        </select>
                    </div>

                    <div>
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="Id" />
                    </div>
                </div>
                @*col2*@
                <div class="col ml-4">
                    <div class="mt-1" style="width: 18rem;">
                        <img src="https://lledogrupo.com/wp-content/uploads/2018/04/user-img-1.png"
                             style="width:85px; height:85px; margin-top:15px; margin-left:30px;"
                             class="card-img-top rounded-circle" alt="...">
                        <div class="card-body">
                            <h5 class="display-3" style="font-size: 20px;">Profile photo</h5>
                        </div>
                    </div>
                    <div class="ml-4">
                        <a class="btn btn-outline-dark" asp-controller="Profile" asp-action="Update">
                            Upload
                        </a>
                    </div>
                </div>
            </div>
                <button class="btn btn-dark mt-5">Update</button>
            
        </form>


    </div>
</div>

@section scripts {
    <script src="~/lib/Trumbowyg-master/Trumbowyg-master/dist/plugins/base64/trumbowyg.base64.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="~/lib/Trumbowyg-master/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script src="~/lib/Trumbowyg-master/Trumbowyg-master/dist/plugins/upload/trumbowyg.upload.min.js"></script>
    <script src="~/lib/Trumbowyg-master/Trumbowyg-master/dist/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
    <script src="~/lib/Trumbowyg-master/Trumbowyg-master/dist/plugins/emoji/trumbowyg.emoji.min.js"></script>
    @*Import Trumbowyg plugins*@
    <script src="trumbowyg/dist/plugins/allowtagsfrompaste/trumbowyg.allowtagsfrompaste.min.js"></script>
    <script>
        $('#editor').trumbowyg();
        $('#editor').trumbowyg({
            plugins: {
                allowTagsFromPaste: {
                    allowedTags: ['h4', 'p', 'br', 'strong']
                }
            }
        });
        $('#editor').trumbowyg({
            btns: [
                ['base64']
            ]
        });
        $('#editor').trumbowyg({
            btns: [
                ['emoji']
            ]
        });
        $('#editor')
            .trumbowyg({
                btnsDef: {
                    // Create a new dropdown
                    image: {
                        dropdown: ['insertImage', 'upload'],
                        ico: 'insertImage'
                    }
                },
                // Redefine the button pane
                btns: [
                    ['viewHTML'],
                    ['formatting'],
                    ['strong', 'em', 'del'],
                    ['superscript', 'subscript'],
                    ['link'],
                    ['image'], // Our fresh created dropdown
                    ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                    ['unorderedList', 'orderedList'],
                    ['horizontalRule'],
                    ['removeformat'],
                    ['fullscreen']
                ],
                plugins: {
                    // Add imagur parameters to upload plugin for demo purposes
                    upload: {
                        serverPath: 'https://api.imgur.com/3/image',
                        fileFieldName: 'image',
                        headers: {
                            'Authorization': 'Client-ID xxxxxxxxxxxx'
                        },
                        urlPropertyName: 'data.link'
                    }
                }
            });
    </script>


    @*<script>
    const $tableID = $('#table'); const $BTN = $('#export-btn'); const $EXPORT = $('#export');
        const newTr = `
        <tr class="hide">
            <td class="pt-3-half" contenteditable="true">Example</td>
            <td class="pt-3-half" contenteditable="true">Example</td>
            <td class="pt-3-half" contenteditable="true">Example</td>
            <td class="pt-3-half" contenteditable="true">Example</td>
            <td class="pt-3-half" contenteditable="true">Example</td>
            <td class="pt-3-half">
                <span class="table-up">
                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                </span>
                <span class="table-down">
                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                </span>
            </td>
            <td>
                <span class="table-remove">
                    <button type="button"
                            class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light">
                        Remove
                    </button>
                </span>
            </td>
        </tr>
        `; $('.table-add').on('click', 'i', () => {
            const $clone = $tableID.find('tbody
        tr').last().clone(true).removeClass('hide table - line'); if ($tableID.find('tbody tr').length
            === 0) { $('tbody').append(newTr);
        } $tableID.find('table').append($clone); });
        $tableID.on('click', '.table-remove', function () { $(this).parents('tr').detach(); });
        $tableID.on('click', '.table-up', function () {
            const $row = $(this).parents('tr'); if
                ($row.index() === 0) { return; } $row.prev().before($row.get(0));
        }); $tableID.on('click',
            '.table-down', function () {
                const $row = $(this).parents('tr');
                $row.next().after($row.get(0));
            }); // A few jQuery helpers for exporting only jQuery.fn.pop
        =[].pop; jQuery.fn.shift = [].shift; $BTN.on('click', () => {
                const $rows =
                    $tableID.find('tr:not(:hidden)'); const headers = []; const data = []; // Get the headers
                (add special header logic here) $($rows.shift()).find('th:not(:empty)').each(function () {
                    headers.push($(this).text().toLowerCase());
                }); // Turn all existing rows into a loopable
        array $rows.each(function () {
            const $td = $(this).find('td'); const h = {}; // Use the
            headers from earlier to name our hash keys headers.forEach((header, i) => {
                h[header] =
                $td.eq(i).text();
            }); data.push(h);
        }); // Output the result
        $EXPORT.text(JSON.stringify(data)); });
    </script>*@
}